$primary-color: #333;
$secondary-color: #999;
$text-color: #FFF;
$accent-color: #8AC249;

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.push-left{
  
  float: left;
  
}

.push-right{
  
  float: right;
  
}

body{
  
  font-family:'ヒラギノ角ゴ　pro W3','Hiragino Kaku Gothic Pro',"Open-Sans", sans-serif;
  font-size: 14px;
  transition: all  300ms ease-in-out;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;

  .header{

    width: 100%;
    height: 100px;
    background: $primary-color;
    margin: 0;
    padding: 0;
    position:fixed;
    z-index: 999;


    .logo{

      font-family: "Open Sans";
      font-weight: 800;
      font-size: 80px;
      color: darken($text-color,90%);
      margin: 0;
      padding: 0 10px;
      line-height: 100px;
    }

    nav{

       font-family: "Open Sans";

      .nav__items{

        margin: 0;
        padding: 0 15px;
        list-style-type: none;
        line-height: 100px;

        .nav__item{

            padding: 0;
            margin: 0;
            
          }
         
         a{

            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            color: darken($text-color,40%);
            padding: 0 10px;
            margin: 0;

            &:hover{

              color: $text-color;

            } //hover


          } //a
        a.active{
          
          color: $text-color;
          
        }

      }

    } //nav


  }//header

  .container{

    width: 100%;
    text-align: center;
    padding: 100px 0 0 0;
    
    .section{
       width: 100%;
       padding: 250px 0 0 0;
       // background: pink;
      
    }
    .section:nth-child(1){
      
       padding: 250px 0 50px 0;
       position: relative;
       top: -100px;
      
    }//section:nth-child
    .section__title{

      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      padding: 0 0 50px 0;

    }//section__title
    .section__text{
      
      font-size: 20px;
      color: darken($secondary-color,10%);
      
    }//section__text

    .about{

       // background:url('http://www.placecage.com/g/2000/2000');
       background-repeat: no-repeat;
       background-size: cover;

      .about__icons{

          max-width: 960px;
          height: 200px;
          margin: 50px auto 50px;
          // background: pink;
      

        .about__icon{

          width: 135px;
          height: 135px;
          border-radius: 50%;
          margin: 0 15px;
          position: relative;
          top: 50%;
          transform:translateY(-67.5px);
          background:url('http://www.placecage.com/g/300/300');

        }//about__icon
        .about__icon:nth-child(3){
          
          width: 270px;
          height: 270px;
          border-radius: 50%;
          margin: 0 15px;
          position: relative;
          top: 50%;
          transform:translateY(-135px);

          background:url('http://www.placecage.com/g/300/300');
          
        }
        
       }//about__icons
      .about__intro{
        width: 100%;
        margin: 0 auto;
        display: inline-block;

        .about__name{

          color: $primary-color;
          font-size: 20px;
          text-transform: uppercase;
        }//about__name
      }//about__intro
    }//about
    .skill{
      
      .skill__bars{
        
        // background: pink;
        
        max-width: 960px;
        margin: 0 auto;
        overflow: hidden;
        .skill__bar{
      
          background: $accent-color;
          width: 100%;
          height: 50px;
          margin: 0 0 10px 0;
          text-align: left;
          position:relative;
          transition: all 3000ms ease-in-out;
          &:nth-child(odd){
            
            background: darken($accent-color,5%);
            
          }
          
          
         .skill__name{
        
            background:$primary-color;
            color: $text-color;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 50px;
            height: 50px;
            width: 150px;
            z-index: 3;
            
           
        }//skill__name
         .skill__data{
             color:$primary-color;
             position: absolute;
             right: 10px;
             line-height: 50px;
             display: inline-block;
           
          }//skill__data
         }//skill__bar
        
        @keyframes bar-1{
          
          0%{ width: 0%;}
          100%{ width: 100%;}
        }
        
        @keyframes bar-2{
          
          0%{ width: 0%;}
          89%{ width: 89%;}
        }
        
        @keyframes bar-3{
          
          0%{ width: 0%;}
          50%{ width: 50%;}
        }
        
        @keyframes bar-4{
          
          0%{ width: 0%;}
          100%{ width: 60%;}
        }
        
        @keyframes bar-5{
          
          0%{ width: 0%;}
          100%{ width: 50%;}
        }
        
        .bar-1{

          width: calc(90% - 10px);
          animation-name: bar-1;
          animation-duration: 5s;
          animation-iteration-count: 1;
          
        }
        
         .bar-2{

          width: calc(89% + 10%);
          animation-name: bar-2;
          animation-duration: 5s;
          animation-iteration-count: 1;
          
        }
        
        .bar-3{

          width: calc(50% + 10%);
          animation-name: bar-3;
          animation-duration: 5s;
          animation-iteration-count: 1;
          
        }
        
        .bar-4{
          
          width: calc(60% + 10%);
          animation-name: bar-4;
          animation-duration: 5s;
          animation-iteration-count: 1;
          
        }
        
        .bar-5{
          
          width: calc(50% + 10%);
          animation-name: bar-5;
          animation-duration: 5s;
          animation-iteration-count: 1;
          
        }
        
        
      } //skill__bars
      
    }//skill
    .work{
      .work__items{

        width: 960px;
        height: 500px;
        margin: 0 auto;
      
          .work__item{

            width: 220px;
            height: 220px;
            margin: 10px 10px;
            background:url('http://www.placecage.com/g/200/200');


          }//work__item


    }//work__items
    }//work
    .contact{
      
      .contact__link{
        
        text-decoration: none;
        color:$primary-color;
        font-size: 50px;
        
        &:hover{
        
        color:$accent-color;
        
        }
      }//contact__link
      
      .contact__icons{
        
        // background: red;
        max-width: 960px;
        margin: 50px auto 250px;
        
        
        .contact__icon{
          
          display: inline-block;
          font-size: 35px;
          text-decoration: none;
          padding: 0 20px;
          color:$primary-color;
          
          
        }//contact__icon    
      } //contact__icons
    }//contact

  }//container

  
}//body